<h2>Thêm Sinh Viên</h2>
<form action="/student/add-process" method="post">
    tên: <input type="text" name="name" />
    <br />
    tuổi: <input type="number" name="age" />
    <br />
    email: <input type="text" name="email" />
    <br />
    <button>thêm</button>
</form>
