<h1>dang nhap</h1>
<form action="/login-process" method="post">
    email: <input type="text" name="email">
    <br>
    pass: <input type="text" name="password">
    <br>
    <button>dang nhap</button>
</form>